<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>My Project</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="projects-container">
    <ion-card>
      <img alt="soeara" src="../../../assets/images/soeara.jpg" />
      <ion-card-header>
        <ion-card-title class="text-green">Soeara: Website Petisi <i>Online</i> Mahasiswa UNSOED</ion-card-title>
        <ion-card-subtitle class="text-light-green">Team Project</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Soeara (Soedirman Berbicara) adalah platform petisi yang bertujuan untuk memberikan suara kepada komunitas Universitas Jenderal Soedirman (Unsoed) dan mempromosikan perubahan positif dalam lingkungan kampus. Kami percaya bahwa setiap individu memiliki hak untuk didengar dan untuk memperjuangkan perubahan yang mereka yakini. Di Soeara, kami berkomitmen untuk memberdayakan mahasiswa, staf, dan alumni Unsoed untuk berbicara tentang isu-isu yang penting bagi mereka.
      </ion-card-content>
    </ion-card>
    <ion-card>
      <img alt="connected" src="../../../assets/images/connected.jpg" />
      <ion-card-header>
        <ion-card-title class="text-green">Connected: Website Manajemen Proyek</ion-card-title>
        <ion-card-subtitle class="text-light-green">Team Project</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Proyek ini bertujuan untuk membangun website manajemen proyek sederhana untuk perusahaan fiktif. Website ini memungkinkan pengguna untuk melakukan berbagai operasi CRUD pada data proyek, seperti membuat proyek baru, menampilkan detail proyek, mengedit proyek, dan menghapus proyek.
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>