<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About Me</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="projects-container">
    <ion-card>
      <img alt="soeara" src="../../../assets/images/latarlinkedin.png" />
      <ion-card-header>
        <ion-card-title class="text-green">Brian Cahya (H1D022009)</ion-card-title>
        <ion-card-subtitle class="text-light-green">Undergraduate Informatics Student at Jenderal Soedirman University</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Undergraduate student of Informatics Engineering Universitas Jenderal Soedirman, class of 2022. Has completed 4 semesters with a focus on software development and information systems. Has experience in basic courses such as programming, data structure, and database. Internship experience as a Software Engineer creating an Online Registration System at St. Elisabeth Purwokerto General Hospital. Committed to continuously learning and developing skills in the IT field, and open to collaboration and new challenges.
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>